@use "@/styles/partials/mixins" as mx;
@use "@/styles/partials/variables" as var;

.hero {
  grid-column: 1 / span 13;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 3rem 0 8rem 0;

  .content {
    grid-column: 3 / span 4;
    align-self: center;

    h5 {
      @include mx.heading1;
      margin-bottom: var.$sp_8;
    }

    .icon {
      display: block;
      margin-bottom: var.$sp_8;
    }

    h2 {
      @include mx.subHeading1;
      margin-bottom: var.$sp_32;
    }

    p {
      margin-bottom: var.$sp_32;
    }

    .btn {
      @include mx.btnPrimary;
    }
  }

  .imgContainer {
    grid-column: 8 / span 4;
    height: 44.5rem;
    position: relative;

    img {
      object-fit: cover;
      padding: var.$sp_24;
    }

    .box {
      width: 65%;
      height: 60%;
      background-color: hsla(47, 55%, 70%, 1);
      position: absolute;
    }

    .box:nth-child(1) {
      bottom: 0;
      left: 0;
    }

    .box:nth-child(2) {
      top: 0;
      right: 0;
    }
  }
}
