@use "@/styles/partials/mixins" as mx;
@use "@/styles/partials/variables" as var;

.award {
  grid-column: 1 / span 13;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 8rem 0;
  background: linear-gradient(
      180deg,
      rgba($color: var.$dark_01, $alpha: 0.6) 30%,
      rgba($color: var.$dark_01, $alpha: 0.6) 50%
    ),
    url("/bg.jpg") no-repeat center;
  background-size: cover;

  .content {
    grid-column: 3 / span 5;
    align-self: center;

    h5 {
      @include mx.heading1;
      margin-bottom: var.$sp_8;
    }

    .icon {
      display: block;
      margin-bottom: var.$sp_8;
    }

    h2 {
      @include mx.subHeading1;
      margin-bottom: var.$sp_64;
    }

    .awardList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: var.$sp_32;
      row-gap: var.$sp_64;

      .awardItem {
        @include mx.flexMain(2rem);

        .awardDesc {
          h5 {
            color: var.$gold_02 !important;
          }
        }
      }
    }
  }

  .imgContainer {
    grid-column: 9 / span 3;
    height: 44.5rem;
    position: relative;

    img {
      object-fit: cover;
    }

    svg {
      position: absolute;
      left: -4.5rem;
      bottom: 0;
      z-index: 200;
    }
  }
}
