@use "@/styles/partials/mixins" as mx;
@use "@/styles/partials/variables" as var;

.header {
  height: var.$header_height;
  color: var.$white_01;
  background-color: rgba($color: var.$dark_01, $alpha: 0.85);
  backdrop-filter: blur(8px);
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: sticky;
  top: -(var.$header_height);
  left: 0;
  width: 100%;
  z-index: 2000;
  transition: all 0.2s ease-in;
  box-shadow: 0 10px 30px -10px var.$dark_02;

  &.headerShow {
    top: 0;
    transition: all 0.5s ease-in-out;
  }

  .navbar {
    grid-column: 2 / span 11;
    @include mx.flexBetween;

    .logo {
      font-family: var.$ff_cormorant;
      font-weight: var.$fw_700;
      font-size: 2.75rem;
      line-height: 3.575rem;
      text-transform: uppercase;
    }

    .mainNavList {
      @include mx.flexMain(var.$sp_32);

      .navItem {
        .navLink {
          &.activeLink {
            position: relative;
            color: var.$gold_02;

            &::after {
              content: "";
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: var.$gold_02;
              position: absolute;
              bottom: -4px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }

    .otherNavList {
      @include mx.flexMain(var.$sp_32);
      font-weight: var.$fw_600;

      & .navItem:first-child {
        // border-image-source: radial-gradient(
        //   50% 50% at 50% 50%,
        //   red 58.85%,
        //   rgba(255, 255, 255, 0) 100%
        // );
        color: var.$gold_02;
        font-family: var.$ff_cormorant;
        font-size: var.$fs_16;
        line-height: var.$lh_16;
        text-transform: capitalize;
        font-weight: var.$fw_700;
      }

      & .navItem:last-child {
        padding-left: var.$sp_16;
        @include mx.btnPrimary;
      }
    }
  }
}
