@use "@/styles/partials/mixins" as mx;
@use "@/styles/partials/variables" as var;

.menu {
  grid-column: 1 / span 13;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  column-gap: 3rem;
  padding: 8rem 0;

  .header {
    grid-column: 3 / span 9;
    align-self: center;
    text-align: center;

    h5 {
      @include mx.heading1;
      margin-bottom: var.$sp_8;
    }
    .icon {
      display: block;
      margin: 0 auto var.$sp_8 auto;
    }

    h2 {
      @include mx.subHeading1;
      margin-bottom: var.$sp_64;
    }
  }

  .menuTableLeft {
    grid-column: 3 / span 3;
    align-self: center;

    caption {
      @include mx.subHeading2;
      color: var.$white_01 !important;
      margin-bottom: var.$sp_48;
    }

    tbody {
      tr {
        margin-bottom: 2.5rem;

        &:nth-child(odd) {
          @include mx.flexBetween;
          margin-bottom: var.$sp_8;
          @include mx.heading1;
          color: var.$gold_02;

          td {
            @include mx.flexMain;
            column-gap: 2rem;

            &:last-of-type {
              color: var.$white_01;

              &::before {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                background-color: var.$white_02;
              }
            }
          }
        }
      }
    }
  }

  .menuTableRight {
    grid-column: 9 / span 3;
    align-self: center;

    caption {
      @include mx.subHeading2;
      color: var.$white_01 !important;
      margin-bottom: var.$sp_48;
    }

    tbody {
      tr {
        margin-bottom: 2.5rem;

        &:nth-child(odd) {
          @include mx.flexBetween;
          margin-bottom: var.$sp_8;
          @include mx.heading1;
          color: var.$gold_02;

          td {
            @include mx.flexMain;
            column-gap: 2rem;

            &:last-of-type {
              color: var.$white_01;

              &::before {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                background-color: var.$white_02;
              }
            }
          }
        }
      }
    }
  }

  .imgContainer {
    grid-column: 6 / span 3;
    height: 44.5rem;
    position: relative;

    img {
      object-fit: cover;
    }
  }

  .btn {
    grid-column: 3 / span 9;
    @include mx.btnPrimary;
    width: max-content;
    margin: var.$sp_64 auto 0 auto;
  }
}
