@use "@/styles/partials/mixins" as mx;
@use "@/styles/partials/variables" as var;

.chef {
  grid-column: 1 / span 13;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 8rem 0;
  background: linear-gradient(
      180deg,
      rgba($color: var.$dark_01, $alpha: 0.7) 30%,
      rgba($color: var.$dark_01, $alpha: 0.6) 50%
    ),
    url("/bg.jpg") no-repeat center;
  background-size: cover;

  .content {
    grid-column: 8 / span 4;
    align-self: center;

    h5 {
      @include mx.heading1;
      margin-bottom: var.$sp_8;
    }

    .icon {
      display: block;
      margin-bottom: var.$sp_8;
    }

    h2 {
      @include mx.subHeading1;
      margin-bottom: var.$sp_64;
    }

    q {
      display: block;
      margin-bottom: var.$sp_64;

      &::first-letter {
        font-size: 1rem;
      }
    }

    h3 {
      @include mx.subHeading3;
      margin-bottom: var.$sp_8;
    }

    p {
      margin-bottom: var.$sp_64;
    }

    .sign {
      font-family: var.$ff_best;
      font-size: var.$fs_64;
      font-weight: var.$fw_400;
      line-height: var.$lh_64;
      color: var.$white_03;
    }
  }

  .imgContainer {
    grid-column: 3 / span 4;
    height: 44.5rem;
    position: relative;

    img {
      object-fit: cover;
      padding: var.$sp_24;
    }

    .box {
      width: 65%;
      height: 60%;
      background-color: hsla(47, 55%, 70%, 1);
      position: absolute;
    }

    .box:nth-child(1) {
      bottom: 0;
      left: 0;
    }

    .box:nth-child(2) {
      top: 0;
      right: 0;
    }
  }
}
